<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot with Thymeleaf</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <th th:text="${book.id}">123</th>
        <th th:text="${book.title}">Spring in Action</th>
        <th th:text="${book.publisher.name}">Wrox</th>
    </tr>
</table>

</body>
</html>